<body>
<h1>Here is a single post for a given user</h1>
    <article>
    <div class="block-post">
        <div class="post-heading">
            <h3>Post 1 by Username</h3>
        </div>
        <div class="post-comments">
            <p>Comments: x</p>
            <p>Likes: y</p>
        </div>
    </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
        optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
        obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
        nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
        tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
        quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
        sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
        recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
        minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit.</p>
    </article>

    <article class="comments-box">
        <p><strong>UserName: Comment 1</strong></p>
        <p><strong>UserName: Comment 2</strong></p>
        <p><strong>UserName: Comment 3</strong></p>
        <p><strong>UserName: Comment 4</strong></p>
        <p><strong>UserName: Comment 5</strong></p>
        <p><strong>UserName: Comment 6</strong></p>
    </article>
</body>